.acerca-app-content {
    --background: #141414; /* Fondo oscuro personalizado */
    color: #d0d0d0; /* Color del texto */
  }
  
  .app-card {
    background-color: #1f1f1f; /* Fondo para las tarjetas */
    color: #ffffff;
    margin-bottom: 30px; /* Margen entre las tarjetas */
    padding: 20px;
    border-radius: 12px;
  }
  
  .app-card .ion-card-title {
    color: #6699ff; /* Azul claro para los títulos */
    font-size: 1.6rem;
  }
  
  .app-card p, .app-card ul {
    font-size: 1.1rem;
    color: #cccccc; /* Texto más claro */
  }
  
  ul {
    list-style-type: square; /* Marcadores cuadrados para las listas */
    padding-left: 25px;
  }
  
  .acerca-app-content .ion-breadcrumb {
    color: #6699ff; /* Azul claro para las migas de pan */
  }
  