/* Estilos para la imagen de perfil */
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilo para el contenido del perfil */
ion-card-content h1 {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin-bottom: 5px;
  font-weight: bold;
}

ion-card-content h2 {
  font-size: 1rem;
  color: #6a6a6a;
  margin-bottom: 20px;
}

/* Resaltar los campos que necesitan edición */
.edit-item-tab4 ion-label {
  font-weight: bold;
  color: #ff6600; /* Cambia el color de la etiqueta a naranja */
  font-size: 1.1rem;
}

.edit-item-tab4 ion-input {
  --padding-start: 15px;
  --background: #ffffff; /* Fondo oscuro */
  color: #000000; /* Color del texto */
}

/* Estilo específico para los botones del Tab4 */
.tab4-buttons ion-button {
  margin-top: 20px;
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  --padding: 15px 20px;
  --background: linear-gradient(90deg, #007bff, #00c6ff); /* Efecto degradado en los botones */
}

.tab4-buttons ion-button + ion-button {
  margin-top: 10px;
}
