.listaMensajes {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: #252525;
  border-bottom: 1px solid #333;
  margin-bottom: 6px;
}

/* Estilos para el encabezado (nombre del remitente y fecha) */
ion-item h2 {
  font-weight: 600;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para los párrafos de los mensajes */
ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

/* Estilos para la fecha */
ion-item .date {
  align-items: center;
  display: flex;
}

/* Estilos para las notas (fechas de los mensajes) */
ion-item ion-note {
  font-size: 0.9375rem;
  margin-right: 8px;
  font-weight: normal;
}

/* Estilos para los puntos de notificación */
.viñeta{
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
  background: var(--ion-color-primary);
}

